# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# ==========================
# Virtualenv
# ==========================
.env
.venv
venv/
ENV/
env/
env.bak/

# ==========================
# Django
# ==========================
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
# static/
**/static/
!djangoapp/pages/static/

# ==========================
# IDEs e editores
# ==========================
.vscode/
.idea/
*.swp
*~

# ==========================
# Docker
# ==========================
# Volumes e configs locais
docker-compose.override.yml
docker-compose.local.yml
.docker/
*.pid
/data/

# ==========================
# Sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Testes e cobertura
# ==========================
.coverage
.coverage.*
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
